/* Tady Vary */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Vesper Libre', serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
}

h2 {
    margin: 30px 0;
}
.section {
    padding: 25px 0;
}
#head-stripe {
    background: #F8F8F8;
    padding: 15px 0;
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0;
}
#head-stripe .container {
    display: flex;
}
#head-stripe a img {
    width: auto;
    margin-left: 7px;
    max-height: 20px;
    display: block;
    transition: transform 0.1s ease-out;
}
#head-stripe a img:hover {
    transform: scale(1.05);
}
#head-stripe .container div {
    padding-top: 10px;
}
#header .container {
    text-align: center;
}
#header .container h1 {
    display: none;
}
img.logo {
    max-height: 300px;
    width: auto;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
}
#header.section.skewed {
    background: white;
    z-index: 6;
}
#placement-of-movies h3 {
    margin-bottom: 0;
}
#placement-of-movies.section {
    color: #000000;
    border: 10px solid #000000;
    border-radius: 10px;
    max-width: 1500px;
    padding-bottom: 60px;
    width: 90vw;
    max-width: 1250px;
    margin: 40px auto 25px auto;
}
#movie-section.section.skewed {
    background: white;
    z-index: 4;
}
#other-short-movies.section.skewed {
    color: white;
    background:  #FF0000;
    z-index: 3;
    padding-bottom: 75px;
}
#other-movies.section.skewed {
    background: white;
    z-index: 2;
}
#placement-of-movies a.button, #placement-of-movies span.button {
    display: inline-block;
    color: #FF0000;
    font-size: 16px;
    text-decoration: underline;
    line-height: 1.2;
    margin-top: 5px;
    text-decoration: none;
}
#placement-of-movies a.button:hover {
    border-bottom: 2px #FF0000 solid;  
}
@media screen and (min-width: 768px) {
    #placement-of-movies .pom-wrap:nth-child(3n+3) .pom-placement {
            margin-top: 30px;
    }        
    #placement-of-movies .pom-wrap:nth-child(3n+1) .pom-placement {
            margin-top: 60px;
    } 
} 
#placement-of-movies .pom-wrap:nth-child(n+5) {
    display: none;
}

.pom-box.first,.pom-box.second,.pom-box.third {
    border: 3px black solid;
    border-radius: 10px;
}

.pomb-link {
    display: block;
}
.pom-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 0px 0px;
    overflow: hidden;
    height: 125px;
}
.pom-placement {
   display: block;
}
.pom-placement, .pom-img {
    width: 100%;
    border-radius: 6px;
}
.pom-img-wrap, .pom-text {
    width: 50%;
}
a.pom-link-box {
            display: block;
            text-decoration: none;
            color: black;
}
.pom-img {
        background-size: cover;
        background-position: center center;
        display: inline-block;
        position: relative;
        filter: grayscale();
        width: 100%;
        height: 100%;
}
#placement-of-movies .pom-box:hover span.button {
    border-bottom: 2px #FF0000 solid;  
}
.pom-img .inner {
    position: relative;
    width: 100%;
    padding: 30%;
}
.pom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.pom-box .play {
    width: 50px;
    height: 50px;
    background: #797979 url(images/play2.png) no-repeat;
    background-size: 50% 50%;
    background-position: center center; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;   
    opacity: 0;
    transition: all .15s ease-in-out;
}
.pom-box:hover .play {
    opacity: 1;
}

.pom-box:hover .pom-img {
   filter: none;
}
.pom-text h3 {
    font-size: 20px;
}

.movie-box {
    padding: 50px 0;
}
.mb-head {
    text-align: center;
    margin-bottom: 30px;
}
.mb-head span {
position: relative;
}
.mb-head span:after {
    content : "";
      position: absolute;
  left    : 50%;
  margin-left: -25px;
  bottom  : 0;
  height  : 1px;
  width   : 50px;
  margin-bottom: -3px;
    border-bottom:3px solid #FF0000;
}
.mb-head h3 {
    margin-top: 15px;
    font-size: 35px;
}
/* other short */
.other-short-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cas {
    position: absolute;
    height: 20px;
    line-height: 20px;
    border-radius: 4px;
    background-color: rgba(30, 30, 30, .5);
    font-size: 11px;
    padding: 0 7px;
    color: #fff;
    margin: 5px;
    font-weight: 600;
    right: 0
}

.play {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: #c00 url(images/play2.png) center center no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -30px;
    z-index: 999
}

.other-short-flex a:hover .play {
    opacity: 1;
}

.more-img {
    position: relative;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 320px;
    padding-bottom: 56.25%;
    background-size: cover
}

.other-short-flex h3 {
    font-family: 'Vesper Libre', serif;
    font-weight: 600;
    line-height: 20px;
    max-height: 2.5rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    color: #000;
    -webkit-box-orient: vertical;
    font-size: 16px;
    text-transform: none;
    margin-top: 10px;
}

.other-short-flex .other-short-item {
    display: inline-block;
    width: 16.5%;
    max-width: 320px;
    text-decoration: none;
}

.other-movies-link {
    text-transform: uppercase;
    color:  #FF0000;
    font-family: 'News Cycle', sans-serif;
    padding-top: 24px;
}

.other-movies-link:hover {
    transform: rotate(3deg);
    color:  #FF0000;
    border-bottom: 2px solid  #FF0000;
    text-decoration: none;
}


.mf-pad-wrap {
    padding: 0 5px;
}

@media only screen and (max-width:991.5px) {
.other-short-flex .other-short-item {
    width: 33%;
}
.other-short-flex a:last-child div.mf-pad-wrap {
    padding: 0 5px;
    }
}

@media only screen and (max-width:500px) {
.other-short-flex .other-short-item {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}
.other-short-flex .other-short-item div.mf-pad-wrap {
    padding-right: 0;
}
.other-short-flex .other-short-item:last-child div.mf-pad-wrap {
    padding-right: 0;
    }
}

/* other movies */
.other-movies-flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.other-movies-item {
    color: #000000;
    flex-basis: 15%;
}

.other-movies-item img {
    width: 100%;
    margin-bottom: 10px;
}

a.other-movies-item:hover img{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.4);
    transform: scale(1.02);
}

a.other-movies-item:hover {
    text-decoration: none;
    color: #000000;
}

.other-movies-item img {
    border-radius: 5px;
}

@media screen and (max-width: 991.5px) {
.other-movies-item {
    flex-basis: 29%;
    }
}

@media screen and (max-width: 450px) {
.other-movies-item {
    flex-basis: 40%;
    }
.other-movies-flex {
    justify-content: space-around;
    }
}

/*mtv app*/
.grow {
    display: inline-block;
    transition: transform .15s linear;
}

.grow:hover {
    transform: scale(1.05);
}

.malltvapp {
    background: #1d1d1d;
    color: #ffffff;
    padding-bottom: 50px;
}

.h2-app {
    color: #ffffff;
}

div.mobil {
    margin-bottom: -50px;
    margin-top: 20px;
    text-align: center;
}

.store {
    margin-bottom: 10px;
    margin-right: 5px;
}
.mtvapp100 {
    width: 100%;
    text-align: center;
}

.malltvapp .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mtvapp1,
.mtvapp2 {
    width: 50%;
}

.mallapp1 {
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
div.mobil {
    margin-bottom: -120px;
}
}

@media screen and (max-width: 991.5px) {
    div.mobil {
        margin-bottom: -151px;
    }
}

@media screen and (max-width: 767px) {
div.mobil {
    margin-bottom: -277px;
    }
}

@media screen and (max-width: 700px) {
div.mobil {
    margin-bottom: -50px;
   }
}

@media screen and (max-width: 525px) {
.store img {
     width: 80%;
     height: auto;
    }
}

p.platformy {
    margin-top: 20px;
}

div.plaformy {
    display: flex;
    flex-wrap: wrap;
}

div.platformy img {
    height: 30px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
} 

@media screen and (max-width: 700px) {
.mtvapp1,
.mtvapp2 {
    width: 100% !important;
}

.mtvapp1 {
    margin-right: 0;
    text-align: center;
}
.mtvapp2 {
    margin-top: 10px;
}
}

#footer {
    background-color: black;
    color: #fff;
    padding-bottom: 0;
}

#footer .container {
    background: url(images/m.svg) bottom left no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    height: 150px;
}
.movie-box small {
    font-weight: bold;
}
/* Embed */
.em-cont{/*max-width:800px;*/max-height:450px;height:100%;width:100%;overflow:hidden;margin:0 auto; margin-bottom: 20px;}.embed{position:relative;overflow:hidden;padding-top:40.25%;}.embed iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0;overflow:hidden}
@media screen and (max-width: 605px) {
    .embed{position:relative;overflow:hidden;padding-top: 158.25%;}
    .em-cont{max-height:none;}
}

#video-overlay {
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2; 
  cursor: pointer;
}
.video-overlay--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 95%;
    max-width: 1150px;
}
.video-overlay--close {
    text-align: center;
    margin-left: auto;
    width: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: black;
    border-radius: 50%;
}
.video-overlay--title {
    font-family: 'News Cycle', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}
.open-video-overlay, .show-all-placements {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    color: #000;
    border-color: #000;
    border-width: 2px;
}
.open-video-overlay:hover {
    background: #000;
    border-color: #000;    
}
.description-img {
    border-radius: 10px;
}
#other-movies.section {
    padding-bottom: 60px;
}


/* Partneři */
#partners {
    background: black;
    padding-bottom: 40px;
}
#partners h2, #partners h3 {
    color: white;
}
.logo-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  width: 20%;
}

.logo-box.box-1 {
    width: 90%;
}
.logo-box.velke {
    width: 100%;
    margin: auto;
}

.logo-box.velke img{
    max-width: 200px;
}

.logo-box.velke .mallcz{
    max-width: 140px;
}

.logo-box.velke .malltv{
    max-width: 120px;
}

.logo-box.box-1 img.wide {
    max-width: 300px;
}

.logo-box img {
  max-width: 110px;
  margin: 10px;
  width: 100%;
}

.logo-box img.wide {
  max-width: 170px;
}

.flex-loga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
  .logo-box {
    width: 25%;
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .logo-box {
    width: 50%;
  }
}
.logo-box img.wide {
    max-width: 140px;
}
.schedule-wrap .schedule-days {
    display: flex;
}
.schedule-wrap .schedule-days > div,  .schedule-wrap .schedule-days > a {
    padding: 20px;
} 
.schedule-wrap .schedule-days .day {
    font-size: 24px;
    border-bottom: 2px solid black;
}  
.schedule-wrap .programme-box {
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}
.schedule-wrap .programme-box span {
    font-size: 16px;
    display: block;
    font-style: italic;
    color: #202020;
}
.schedule-wrap .programme-box small.link {

    color: #FF0000;
}
.schedule-wrap a.programme-box:hover small.link {
    border-bottom: 2px #FF0000 solid;  
}    
/* Carousel */
.carousel-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 97%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
  top: 20px;
}


.carousel-container {
  position: relative;
}

.carousel-container .scroll-left,
.carousel-container .scroll-right {
  color: #dfdfdf;
  padding: 0 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 40px;
  z-index: 5;
  border-radius: 50%;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
  height: 90px;
  width: 90px;
  background-color: transparent;
  text-decoration: none;
}
.carousel-container .scroll-left {
  display: none;
}
.carousel-container .scroll-left:hover,
.carousel-container .scroll-right:hover {
  color: #d8d8d8;
  background-color: rgba(18, 18, 18, 0.6);
}

.carousel-container .scroll-left {
  left: -45px;
  top: 50%;
  margin-top: -45px;
}

.carousel-container .scroll-right {
  right: -45px;
  top: 50%;
  margin-top: -45px;
}

.carousel-container .arrow {
  display: block;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  border: 0 solid #dfdfdf;
  border-width: 0 0 3px 3px;
}

.carousel-container .scroll-right .arrow {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  left: -4px;
}

.carousel-container .scroll-left .arrow {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -4px;
}

.carousel-hide-scrollbar-wrapper {
  position: relative;
  overflow: hidden;
  /* width: 95%;
            margin: 0 auto;*/
}

.carousel-hide-scrollbar-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #FFF), color-stop(30%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFF 10%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 100%);
  z-index: 4;
  pointer-events: none;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

@media screen and (max-width: 630px) {
  .carousel-container .scroll-left {
    left: -65px;
  }
  .carousel-container .scroll-right {
    right: -65px;
  }
  .carousel-container .scroll-right .arrow {
    left: -20px;
  }
  .carousel-container .scroll-left .arrow {
    right: -20px;
  }
  .carousel-hide-scrollbar-wrapper::after {
    width: 100px;
  }
} 

.carousel-wrap {
  width: 95%;
  margin: 0 auto 40px auto;
}
div#other-short-movies, div#other-movies {
    background: #F8F8F8;
}    
span.red {
    color: #FF0000;
}